@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Ekle">GirOr Ekle</a>
<a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Duzenle">GirOr Düzenle</a>
<a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Sil">GirOr Sil</a>
<a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Listele">GirOr Listele</a> 
