@{
    ViewData["Title"] = "Girişim Ormanları Nedir?";
}
<h1>@ViewData["Title"]</h1>

<p>
    2019 yılında Girişimcilik ve Çevrecilik bilincinin artması ve bir kültür haline gelebilmesi için başlatılmış bir projedir. <br />
    Üniversitelerin kampüslerinde, genç girişimciler, girişimlerini başlatırken bir fidan diker ve yanına koyulan tabela ve  <br />
    üzerindeki QR kodlar sayesinde fidan sahibi girişimcinin, girişimi üzerinde sürekli güncelleyebileceği, deneyim, tavsiye ve <br />
    hataları barındıran, çevresel bir girişim sosyal medyasıdır. <br /><br />
    Genç girişimci kampüste gezerken okuttuğu QR kodlar ile girişimciliğe ilgi duyabilir, aklındaki girişime cesaret bulabilir, 
   <br />
    <a href="http:\\www.girisimormanlari.com">Girişim Ormanları</a>



</p>
